@charset "ISO-8859-1";
*{
	padding:0px;
	margin:0px;
}
:root{
	--clr-neon: hsl(317 100% 54%);
	--clr-bg:hsl(323 21% 16%);
}
*::before,*::after{
	box-sizing: border-box;
}
body{
	background: #121317;
}
nav
{
	background-color: #0e0e12;	
	box-shadow:0 0 0.5em 0.15em black;
}
nav ul
{
    display: flex;
    text-align: center;
    padding: 29px 6px;
}
nav ul li
{
	padding: 3px 38px;
	list-style:none;
}
nav ul li a
{
	text-decoration: none;
	font-family:"Balsamiq Sans",cursive;
    color: white;
    font-size: 1rem;
    padding: 9px 9px;
    border: var(--clr-neon) 2px solid;
    text-transform: uppercase;
    transition: 0.5s ease-in;
    letter-spacing: 3px;
    cursor:default;
    border-radius: 100px;
    text-shadow:0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em var(--clr-neon);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon),0 0 0.5em 0 var(--clr-neon);
}
a{
	text-decoration:none;
}
nav ul li img{
    width: 71px;
    margin: -1rem 2rem;
    box-shadow: 0 0 0.5em 0.25em darkmagenta;
    border-radius: 5rem;
    transform: translateX(-2rem);
}
nav ul li img:hover{
	box-shadow:0 0 0.5em 0.15em white;
}
nav ul li a:hover,nav ul li a:focus{
	background: var(--clr-neon);
	color:black;
	text-shadow:none;
	box-shadow: 0 0 2em 0.5em var(--clr-neon);
	transition:opacity 100ms linear;
}
.container1{
    margin: 3em 0em;
    display: grid;
    grid-template-columns: 1fr 1.25fr 1fr;
    grid-auto-rows: minmax(260px,auto);
    box-shadow: 0 0 0.5em 0.15em black;
    text-align: center;
    color: white;
    overflow:hidden;
}
.item1{
	outline : 2px solid white;
}
.caption{
	width:max-content;
	position:relative;
    border-radius:10rem;
	border-bottom:2px solid darkmagenta;
	left:26%;
}
#tm{
	transform:translatey(0.5vw);
}
.caption::before,
.caption::after{
	content:'';
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
}
.caption::before{
	animation:typewriter 4s forwards;
	background:#121317;
}
@Keyframes typewriter{
	to { 
	left:100% 
	}
}
#till{
	transform:translatey(2vw);
}
.ballon{
	width: 68%;
    transform: translateY(2vw);
    border-radius: 10rem;
    box-shadow: 0 0 0.5em 0.15em white;
    animation: ballon 3s 3s forwards;
    opacity:0;
}
@keyframes ballon{
	to{
	opacity:1;
	}
}
#poster{
    width: 93%;
    box-shadow: 0 0 1.5em 0.15em var(--clr-neon);
    margin: 1em 1em;
    transform: translatey(0vw);
    animation: poster 10s forwards;
    animation-iteration-count: infinite;
}
@Keyframes poster{
	0%
	{
	background-image: url("BG/T.jpg");
	}
	25%
	{
	background-image: url("BG/B1.jpg");
	}
	50%
	{
	background-image: url("BG/B2.jpg");
	}
	75%
	{
	background-image: url("BG/B3.jpg");
	}
	100%{
	background-image: url("BG/T.jpg");
	}
}
.description{
    transform: translatey(7vw);
    font-family: "poppins",sans-serif;
    font-size: large;
    font-weight:lighter;
}
#bd{
	opacity:0;
	animation : bd 2s 4s forwards;
}
@Keyframes bd
{
	to{
	opacity:1;
	transform:translatey(3vw);
	}
}
#desc2{
	transform: translatey(17vw);
    width: 98%;
    font-size: large;
    font-family: "poppins",sans-serif;
    animation : desc2 2s 4s forwards;
    opacity:0;
}
@keyframes desc2{
	to{
	opacity:1;
	transform:translatey(5vw);
	}
}
.container3{
	background: #0e0e12;
    margin-top: 5rem;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 4rem;
    box-shadow: 0 0 0.5em 0.15em black;
    height: 83rem;
    overflow:hidden;
}
.playlist{
	transform: translatey(2.5vw);
    width: fit-content;
    color: white;
    margin: auto;
    font-family: "poppins",sans-serif;
    font-size: xx-large;
    border-bottom: 2px solid darkmagenta;
    border-radius: 5rem;
    animation : play 2s 5.5s forwards;
    font-weight:bold;
    opacity:0;
}
@Keyframes play{
	0%
	{
	transform:translatey(-4.5vw);
	}
	100%
	{
	transform:translatey(2.5vw);
	opacity:1;
	}
}
.container2{
	transform:translatey(5vw);
	background:#0e0e12;
	margin: 7px 37px;
    display: grid;
    padding: 11px 6px;
    grid-gap: 56px;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: minmax(342px,auto);
}
.img1{
	width:100%;
}
.item2{
	transition:0.5s ease;
	cursor:pointer;
	box-shadow:0 0 0.5em 0.15em darkmagenta;
}
.item2:hover{
    transform: scale(1.1);
}
.des1{
	text-align: center;
    padding: 17px 0px;
    font-family: cursive;
    font-weight: bolder;
    border: 1px solid red;
    margin: 16px 85px;
    border-radius: 24px;
    background: red;
    color: antiquewhite;
}
.title1{
    background: darkgreen;
    font-family:serif;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    padding:8px 0px;
}
.title2{
    background: cadetblue;
    font-family:serif;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    padding:8px 0px;
}
.title3{
    background: blue;
    font-family:serif;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    padding:8px 0px;
}
.title4{
    background: crimson;
    font-family:serif;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    padding:8px 0px;
}
.title5{
    background: blueviolet;
    font-family:serif;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    padding:8px 0px;
}
.title6{
    background: teal;
    font-family:serif;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    padding:8px 0px;
}
.title7{
	background: brown;
    font-family: serif;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    padding: 8px 0px;
}
.title8{
    background: steelblue;
    font-family: serif;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    padding: 8px 0px;
}
.title9{
    background:darkred;
    font-family: serif;
    width: 100%;
    font-size: large;
    text-align: center;
    color: white;
    padding: 8px 0px;
}
footer{
    background: #0e0e12;
    margin-top:5rem;
    box-shadow: 0 0 0.5em 0.15em black;
}
.Item1{
	color:papayawhip;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.Item1 h1{
	font-size:1rem;
	font-family:"poppins",sans-serif;
}
.footer1{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(195px,auto);
    width: fit-content;
    margin: auto;
}
.footertill{
	width: 18%;
    border-radius: 5rem;
    transform: translateY(4vw);
    box-shadow: 0 0 0.5em 0.15em darkmagenta;
}
.footertill:hover{
	box-shadow:0 0 0.5em 0.15em papayawhip;
}
#copy{
 color:white;
 transform:translatey(6vw);
 font-family:"poppins",sans-serif;
 color:papayawhip;
}
.Item3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

i{
	font-size:3rem;
	color:papayawhip;
	margin:.5rem;
}
@media screen and (min-width: 0px) and (max-width: 480px)
{
	@keyframes poster{
    0% {
    background-image: url(BG/T11.jpg);
    }
    25% {
    background-image: url(BG/B21.jpg);
    }
    50% {
    background-image: url(BG/B22.jpg);
    }
    75% {
    background-image: url(BG/B23.jpg);
    }
    100% {
    background-image: url(BG/T11.jpg);
}
}
	body{
	background:0e0e12;
	}
	nav{
	overflow:hidden;
	}
	nav ul{
	flex-direction:column;
	}
	nav ul li{
	    padding: 11px 42px;
	}
	nav ul li img{
    margin: 1rem 2rem;
    margin-left: 5.5em;
    margin-top:-1em;
	}
	.des1{
	width: 10rem;
    margin: auto;
    transform: translatey(7vh)
	}
	.footer1{
	grid-template-columns: 20rem;
    grid-auto-rows: minmax(127px,auto);
	}
	.container3{
	height:229rem;
	}
	.container1{
    grid-template-columns: 1fr;
    margin-left: 0.7em;
    margin-right: 0.7em;
    height:69rem;
	}
	#poster{
	background-size:cover;
	}
	#till{
	transform: translate(-25vw);
    margin: auto;
    margin-top: 2.5em;
	}
	#tm{
    margin: auto;
    transform: translate(-24vw,-6vw);
    margin-top: 2.5em;
	}
	#bd{
	margin: auto;
    margin-top: 8vw;
	}
}
@media screen and (min-width: 480px) and (max-width: 768px)
{
	@keyframes poster{
    0% {
    background-image: url(BG/T1.jpg);
    }
    25% {
    background-image: url(BG/11.jpg);
    }
    50% {
    background-image: url(BG/12.jpg);
    }
    75% {
    background-image: url(BG/13.jpg);
    }
    100% {
    background-image: url(BG/T1.jpg);
}
}
	body{
	background:#0e0e12;
	}
	nav{
	overflow:hidden;
	}
	nav ul{
	flex-direction:column;
	}
	nav ul li{
	    padding: 11px 42px;
	}
	nav ul li img{
    margin: 1rem 2rem;
    margin-left: 5.5em;
    margin-top:-1em;
	}
	.des1{
	width: 10rem;
    margin: auto;
    transform: translatey(3.5vw);
	}
	.footer1{
	grid-template-columns: 20rem;
    grid-auto-rows: minmax(127px,auto);
	}
	.container3{
	height:131rem;
	}
	.container1{
    grid-template-columns: 1fr;
    margin-left: 0.7em;
    margin-right: 0.7em;
    height:69rem;
	}
	#poster{
	background-size:cover;
	margin-left:1.5em;
	}
	#till{
	transform: translate(-25vw);
    margin: auto;
    margin-top: 2.5em;
	}
	#tm{
    margin: auto;
    transform: translate(-24vw,-1vw);
    margin-top: 1.5em;
	}
}
/* @media screen and (min-width: 768px) and (max-width: 1280px)
{
	body{
	background:red;
	}
	nav{
	
	}
	nav ul li{
	padding: 3px 13px;
	}
	nav ul li img{
	transform:translate(0vw);
	margin-top: -0.5em;
	}
	.container1{
    width: 27rem;
    grid-template-columns: 27rem;
    margin-left: 11rem;
	}
	#tm{
    margin-left: 0.5em;
	}
	#till{
	margin-left: 0.5em;
	}
	#desc2{
	margin-top: 1.5em;
    margin-left: .2em;
	}
	.container3{
	width: 26rem;
    margin-left: 12rem;
    height: 229rem;
	}
	.Item2{
	margin-top:2em;
	}
} */